* {
	transition: 0.25s;
	user-select: none;
}

.cursor {
	cursor: pointer;
}

.empty-field {
	border: solid 2px red !important;
}

.main-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex-grow: 1;
}