* {
	transition: 0.25s;
	user-select: none;
}

.disable-inc-dec-btn::-webkit-outer-spin-button,
.disable-inc-dec-btn::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cursor {
	cursor: pointer;
}

.empty-field {
	border: solid 2px red !important;
}

.main-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex-grow: 1;
}

.margin-top {
	margin-top: 125px;
}