@media (max-width: 768px) {
    .product-detail-container {
        margin-top: 80px;
    }
}
@media (min-width: 768px) {
    .product-detail-outer-container {
        height: 100vh;
    }
    .product-detail-container {
        box-shadow: -3px 3px 16px black;
        border-radius: 20px;
    }
}